@charset "utf-8";

/** 웹폰트 설정 **/
@font-face {
  font-family: 'NanumGothicWeb';
  font-style: normal;
  font-weight: 400;
  src: url("../../font/NanumGothic-Regular.eot");
  src: url("../../font/NanumGothic-Regular.eot?#iefix") format('embedded-opentype'),
       url("../../font/NanumGothic-Regular.woff2") format('woff2'),
       url("../../font/NanumGothic-Regular.woff") format('woff'),
       url("../../font/NanumGothic-Regular.ttf") format('truetype');
}
/** reset **/
select{color: #555;font-size:12px;}

body, div, p, h1,h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend,
input, textarea, blockquote, button, strong, em, address { margin:0;padding:0;-webkit-text-size-adjust:none; vertical-align: baseline;  font-family: 'Apple SD Gothic Neo', AppleGothic, '돋움', Dotum, Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; font-weight:normal;font-size:14px;color:#555;}

h1, h2 ,h3, h4, h5, h6 {font-size: 100%; font-weight: normal; }
ul, ol { list-style: none; }
img {  border:0 none;vertical-align:top }
img, fieldset { padding: 0; border: none; }
legend, caption { width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden; display: none; }
input { background: none; border: 0; }


table {border-collapse: separate; border-spacing:0; border:0 none;  table-layout: fixed;}
caption {position: absolute; overflow: hidden; width: 0; height: 0; font-size: 0; line-height: 0;}


address, strong, em, cite {font-weight:normal; font-style:normal;}
table th {font-weight:normal; vertical-align: middle;}
table td {vertical-align: middle;}
strong, em, address { font-style: normal; }
hr { display:none; }
q:before,q:after {content:"";}
abbr,acronym { border:0; }
#skipnav { width:0; height:0; line-height:0; overflow:hidden; visibility:hidden; font-size:0; }
.blind, hr { overflow:hidden; visibility:hidden; position:absolute; width:0; height:0; font-size:0; line-height:0; }
a { text-decoration: none; background: 0 none; color: #333;}
textarea { background: none; border: 0; }
button{overflow: visible;border:none;padding:0;margin:0;}
/*input[type=submit], input[type=reset], button{cursor: pointer;}*/
i{font-style:normal}


/* button 파폭 초기화 */
button::-moz-focus-inner { border: 0; padding: 0; }

.pin { border-radius: 6px; }

.layer { width: 234px; display: inline-block; padding: 10px 10px 30px 10px; position: relative; vertical-align: top; }
.layer:hover { background-color: #F2F2F2; }

.banner { width: 234px; height: 167px; object-fit: cover; }

.title {overflow:  hidden;}
.titleMain { line-height: 22px; max-height: 22px; color: #222; margin: 5px 6px; font-size: 19px; }
.titleSub { line-height: 17px; color: #888; margin: 0 6px; font-size: 13px; }

/*
	title 에만 Apple SD Gothic Neo을 적용하고 싶은 거면 title에 font-family:Apple SD Gothic Neo ...~~ 주시고!
	전체적으로 주실 거면 body에 넣어주세요^___^! html 전체적으로 특정 스타일 태그(h1,h2.., i, u, strong, b..등등)가 아닌 보통 글자들은 기본 설정이 font-weight: normal; font-style: normal; text-align: left; 로 되어있기 때문에 기존 스타일을 없애려고 하시는 게 아니면	굳이 안 넣어주셔도 됩니다!
*/